In [1]:
import pandas as pd
from datetime import datetime
from time import sleep
from datetime import timedelta
import numpy as np
import mysql.connector
import os as os
from os.path import isfile, join
import datetime as dt
import re
import numpy as np
from os import listdir
import shutil

In [2]:
prod_dir = os.environ['PROD_DIR']
pth = join(prod_dir,'66days','')

In [3]:
df = pd.read_csv(join(pth,'Introduction_20211117.csv'))

In [34]:
df2 = pd.read_csv(join(pth,'Progress_20211117.csv'))

In [35]:
df2['content'].astype(str)

0       Day 14 of Day 66:\n\nMachine learning, Statist...
1       Forgot to post yesterday Day 8: Did data analy...
2       Day 13: \n- Got a good but simple viz on a df ...
3       Day 11: \n- Completed day 9 of 10 days of stat...
4       Day 13 of 66: \n- Chill day of watching videos...
                              ...
6172                     Hi Guys, Started with basic Stat
6173    Guys i am a beginner , would appreciate if you...
6174    Thank you <@!743513993250996376> It can defini...
6175    > Day1: Created a GitHub repo. Created an R an...
6176    Day1: Created a GitHub repo. Created an R and ...
Name: content, Length: 6177, dtype: object

In [ ]:
#df= df[(df['comments'].str.contains('CONVERT'))]

In [36]:
df2 = df2[~(df2['author'].str.contains('MEE6'))]

In [ ]:
def extract_day(line):
    for x in line:
            x =  re.findall(r'day[+\s\d]+|Day[+\s\d]+|DAY[+\s\d]+',line)
            #x =  re.findall(r'day[+\s\d]+|Day[+\s\d]+|DAY[+\s\d]+',line)
            #x = re.search(r'[\d]+',line)
            x = re.findall(r'[\d]+',str(x))
            #x = list(dict.fromkeys(x))
            #x = ' '.join(map(str, x))
    if (''.join(map(str, x))).isdigit():
            return ''.join(map(str, x[0]))
    elif not (''.join(map(str, x))).isdigit():
            #x = re.findall(r'day[+\d]+|Day[+\d]+|DAY[+\d]+',line)
            x = re.findall(r'day[+\d]+|Day[+\d]+|DAY[+\d]+|day[+\#\d]+|Day[+\s\#\d]+|DAY[+\#\d]+',line)
            #x = re.search(r'[\d]+',line)
            x = re.findall(r'[\d]+',str(x))
    elif (''.join(map(str, x))).isdigit():
            return ''.join(map(str, x[0]))
    #elif not (''.join(map(str, x))).isdigit():
     #       x = re.findall(r'day[+\#\d]+|Day[+\s\#\d]+|DAY[+\#\d]+',line)
      #      x = re.findall(r'[\d]+',str(x)) 
    #elif (''.join(map(str, x))).isdigit():
     #       return ''.join(map(str, x[0]))
    else:
        return 0

In [54]:
def extract_day(line):
    for x in line:
            #x =  re.findall(r'day[+\s\d]+|Day[+\s\d]+|DAY[+\s\d]+|day[+\d]+|Day[+\d]+|DAY[+\d]+|day[+\#\d]+|Day[+\s\#\d]+|DAY[+\#\d]+',line)
            x =  re.findall(r'Day[+\s\#\d]+|day[+\s\#\d]+|DAY[+\s\#\d]+|day[+\s\d]+|day[+\d]+|DAY[+\s\d]+|D[+\d]+|d[+\d]+|days[+\d]+|Day[+\-\d]+|Day[+\s\-\d]+|Days[+\s\d]+',line)
            #x = re.search(r'[\d]+',line)
            x = re.findall(r'[\d]+',str(x))
            #x = list(dict.fromkeys(x))
            #x = ' '.join(map(str, x))
    if (''.join(map(str, x))).isdigit():
            return ''.join(map(str, x[0]))
    else:
        return 0

In [56]:
df2['Progress']= df2.apply(lambda row :extract_day(row['content']),axis=1 )

In [39]:
df2['time'] =pd.to_datetime(df2['time'])

In [57]:
df2

,Unnamed: 0,content,time,author,Progress
0,0,"Day 14 of Day 66:\n\nMachine learning, Statist...",2021-01-17,CodebyUlad,14
1,1,Forgot to post yesterday Day 8: Did data analy...,2021-01-17,haider,8
2,2,Day 13: \n- Got a good but simple viz on a df ...,2021-01-17,WyattGwyon,13
3,3,Day 11: \n- Completed day 9 of 10 days of stat...,2021-01-17,ibrahimvid,11
4,4,Day 13 of 66: \n- Chill day of watching videos...,2021-01-17,vaseline,13
...,...,...,...,...,...
6172,6172,"Hi Guys, Started with basic Stat",2020-08-31,Arth,0
6173,6173,"Guys i am a beginner , would appreciate if you...",2020-08-31,vc,1
6174,6174,Thank you <@!743513993250996376> It can defini...,2020-08-31,William Guesdon,0
6175,6175,> Day1: Created a GitHub repo. Created an R an...,2020-08-31,Andrew Mo,1
6176,6176,Day1: Created a GitHub repo. Created an R and ...,2020-08-31,William Guesdon,1

In [23]:
df2.sort_values('time')

,Unnamed: 0,content,time,author,Progress
6176,6176,Day1: Created a GitHub repo. Created an R and ...,2020-08-31,William Guesdon,1
6157,6157,Day 01: Started to learn Microsoft Power BI on...,2020-08-31,outdoor-houssem,01
6159,6159,I've actually started learning before I knew t...,2020-08-31,gjysme2,1
6160,6160,Day 1: Working on different libraries for data...,2020-08-31,Night_Fury,1
6161,6161,Day 1-2: created a summary on web scraping via...,2020-08-31,Lukas.,1
...,...,...,...,...,...
17,17,"Day 13:\nIntentionally not going to do much, b...",2021-01-17,tim,13
19,19,"Day 13 of #66DaysOfData with Ken Jee, Round 2!...",2021-01-17,Hugo-Viotti,13
20,20,Day 13 (Saturday) : Figuring out how the optio...,2021-01-17,Alx,13
9,9,Day 20:\n- Advanced SQL for Query Tuning and P...,2021-01-17,PhoneThiri,20
0,0,"Day 14 of Day 66:\n\nMachine learning, Statist...",2021-01-17,CodebyUlad,14

In [58]:
a = df2.sort_values('time').drop_duplicates(subset="author", keep="last")

In [59]:
a = a[['author','Progress']]

In [79]:
df2.iloc[100]

Unnamed: 0                                                  112
content       Day 12:\nBack to basics today, with some Libre...
time                                        2021-01-15 00:00:00
author                                                      Rea
Progress                                                     12
Name: 112, dtype: object

In [42]:
a.to_csv(join(pth,'test.csv'))

In [30]:
a['Progress']=a['Progress'].astype(float)

In [31]:
a.sort_values('Progress')

              author  Progress
6007  thebluerabbits       0.0
1373  Brian.Rafferty       0.0
2574  Ramreddy Bolla       0.0
6102        SaikatDT       0.0
1387       nathanlee       0.0
...              ...       ...
3125    Goliath59nph      40.0
3531      Tina Huang      42.0
961     ₰ Mysterious      51.0
6092         maisdev      53.0
6109            Sven      66.0

[517 rows x 2 columns]

In [ ]:
a

In [32]:
b = a.groupby(['Progress']).agg({'author':"count"}).reset_index()

In [33]:
b

    Progress  author
0        0.0      76
1        1.0     371
2        2.0      30
3        3.0      11
4        4.0       6
5        5.0       3
6        6.0       3
7        7.0       1
8        8.0       4
9        9.0       1
10      10.0       1
11      12.0       1
12      20.0       1
13      24.0       1
14      29.0       1
15      38.0       1
16      40.0       1
17      42.0       1
18      51.0       1
19      53.0       1
20      66.0       1